PORT=<PORT>
AWS_DEFAULT_ACCESS_KEY=<AWS_ACCESS_KEY>
AWS_DEFAULT_SECRET_ACCESS_KEY=<AWS_SECRET_ACCESS_KEY>
AWS_S3_REGION=<AWS_S3_REGION>
AWS_S3_BUCKET=<AWS_S3_BUCKET>
AWS_S3_BUCKET_FOLDER_KEY=<AWS_S3_BUCKET_FOLDER_KEY>
AWS_S3_SIGNATURE_VERSION=<AWS_S3_SIGNATURE_VERSION>